USE [master]
GO
/****** Object:  Database [PCBrouterDB]    Script Date: 9/8/2021 10:08:48 PM ******/
CREATE DATABASE [PCBrouterDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PCBrouterDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLRAV\MSSQL\DATA\PCBrouterDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PCBrouterDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLRAV\MSSQL\DATA\PCBrouterDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PCBrouterDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PCBrouterDB]
GO
/****** Object:  Table [dbo].[ModelList]    Script Date: 9/8/2021 10:08:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ModelList](
	[Id] [int] NOT NULL,
	[Model] [nvarchar](max) NOT NULL,
	[Xval] [int] NOT NULL,
	[Yval] [int] NOT NULL,
	[PCBnum] [int] NOT NULL,
	[R_MotionShape_num] [int] NOT NULL,
	[R_MotionShape_distance_Y] [nvarchar](max) NOT NULL,
	[R_distance_X] [nvarchar](max) NOT NULL,
	[R_pos_Y] [nvarchar](max) NOT NULL,
	[C_MotionShape_num] [int] NOT NULL,
	[C_MotionShape_distance_X] [nvarchar](max) NOT NULL,
	[C_distance_Y] [nvarchar](max) NOT NULL,
	[C_pos_X] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
